*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	background: url('img/pool_1800x1200.jpg');
	background-size: cover;
	font-family: 'Roboto', sans-serif;

}
img{
	width: 100%;
	display: block;
}
/* navigation bar */

.menu{
	 background: #000;
}

.menu-bar{
	width: 1200px;
	margin: 0 auto;
}
.content ul{
    text-align: center;
   }
.content ul li{
    list-style: none;
    display: inline-block;
    vertical-align: middle;
    transition: .5s;
}
.content ul li a{
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    font-size: 16px;
    padding: 18px;
    position: relative;
    transition: .5s;
}
.content ul li a img{
    display: block;
    width: 130px;
}
.content ul:hover li a{
	transform: scale(1);
	opacity: .2;
	filter: blur(1px);
}
.content ul li a:hover{
	transform: scale(1.5);	
	opacity: 1;
	filter: blur(0);
	font-size: 20px;
}
/* navigation bar end */

/* section part left-side start */

.contented{
    width: 1200px;
    margin: 0 auto;
}
.lef-side{
    width: 50%;
    float: left;
    /* padding: 10px; */
}
.article{
    margin-top: 66px;
    color: #fff;
}
.murad{
    margin-bottom: 9px;
    font-size: 14px;
    font-weight: 300;
    margin-top: -3px;
}
.article h1{
    text-transform: uppercase;
    padding: 10px 0;
    font-size: 38px;
    font-weight: 400;
}
.article h1 span{
    color: #8cec0f;
}

.icon i{
    float: left;
    font-size: 13px;
    margin-right: 5px;
}
.icon p{
    font-size: 13px;
    font-weight: 300;
}
.btn{
    margin-top: 15px;
}
.btn button{
    font-size: 15px;
    text-transform: uppercase;
    padding: 10px;
    border-radius: 30px;
    border: 0;
    font-weight: 500;
    color: #fff;
    background: #4b3898;
    cursor: pointer;
}

/* left side end */



/* right-side start */


.right-side{
    float: left;
    width: 50%;
    margin-top: 0px;
    margin-left: 0px;
    padding-left: 49px;
}
.login{
    position: relative;
    background: #223f672e;
    max-width: 360px;
    margin: 0 auto;
    padding: 45px;
    text-align: CENTER;
}
.login input{
    background: #f2f2f2;
    outline: 1;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
}
.login button{
    text-transform: uppercase;
    width: 100%;
    outline: 0;
    background: #119665d9;
    border: 0;
    padding: 15px;
    color: #fff;
    font-size: 14px;
    cursor: pointer;
}
.login h2{
	margin: 0;color: #fff;
}
.login p{
    font-size: 14px;
    color: #c7bfbfa6;
    font-weight: 400;
    padding: 4px 0;
}
.sign-up-1{
	width: 360px;
	padding: 10% 0 0;
}
.murad{
    margin-top: 10px;
    margin-left: 0px;
}
.murad button{}
.murad button a{
    text-decoration: none;
    color: #f2f2f2;
}
audio{}
source{}